<div class="g-wrap">
  <div class="g-halfwrap-left">
    <div class="g-h-l-contents">
      <div class="g-h-r-contents-box">
        <div class="g-h-r-contents-communicationItem"><span><i class="fas fa-search fa-lg"></i>　</span>あなたの「好き」をフォローしよう。</div>
        <div class="g-h-r-contents-communicationItem"><span><i class="far fa-user fa-lg"></i>　</span>話題のトピックを追いかけましょう。</div>
        <div class="g-h-r-contents-communicationItem"><span><i class="far fa-comment fa-lg"></i>　</span>Twitterに参加しましょう。</div>
      </div>
    </div>
  </div>
  <div class="g-halfwrap-right">
    <div class="g-h-r-contents">
      <div class="g-h-r-contents-box">
        <%= image_tag ("icon_tw2.png")%>
        <h1>「いま」起きていることを見つけよう</h1>
        <h2 class="h2submessage">Twitterをはじめよう</h2>
        <div class="Tops">
          <a href="/users/new" class="EdgeButton TopSignup colorChange">アカウント作成</a>
        </div>
        <div class="TopLogin">
          <a href="/sessions/new" class="EdgeButton TopLogin">ログイン</a>
        </div>
      </div>
    </div>
  </div>
</div>
